@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;

}
header{
    background-color: black;
    color: white; 
    text-align: center; /*centralizar texto*/


}

header > h1{
    padding: 50px;/* expoço entre letras*/
    font-variant: small-caps;/*1ª letra maiores mas todas são maiusculas*/

    /*
    text-transform: uppercase;colocar todas as letras em Maíscula
    */

}

header > p{
  padding-bottom: 50px;

}

header a, footer a{/* p de h1 e footer */
    color: white;
    text-decoration: none;/*tira sublinhado da letra*/
    font-weight: bolder;

}

header a:hover, footer a:hover{
    text-decoration: underline;/*passar mouse em cima vira sublinhado*/

}
section{
    padding-top: 10vh;/*espaço entre as frases*/
    padding-bottom: 10vh;
    line-height: 2em;/*espaço entre as letras*/
    padding-left: 30px;

}

section.normal{
    background-color:white;
    color: rgba(0, 0, 0, 0.929) 
    
}

section.imagem{
    background-color: rgba(35, 35, 35, 0.923);
   color: white;    

}

section.imagem>p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.055);

}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}