@charset "UTF-8";

/*Todas as demais medias*/

/*Typical Device Breakpoints
--------------------------
Pequenas telas: até 600px
Celular:até 600px até 768px
Tablet:769px até 992px
Desktop:992px até 1200px
Grandes telas:acima 1200px
---------------------------
*/

@media print {/*impressão*/

}

@media screen and (min-width:768px) and (max-width:992px) {/*tablet*/
    
    
}

@media screen and (min-width:992px) and (max-width:1200px){/*Desktop*/

}

@media screen and (min-width:1200px){/*Grandes telas*/

}




