@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#F4A9A0,#F3E9C0);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow:5px 5px 15px #a6b4e6a1 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color: #D9A7EB;
text-align: center;
text-shadow: 1px 1px 0px #7c478f98;
}
h2{
color: #A6B4E6;
}
   p{
    text-align: justify;
   } 